* {
   box-sizing: border-box;
}

body {
   background-color: white;
}
.afterload{
   opacity :0;
}
.loader {
   height: 100vh;
   display: flex;
  stroke-dashoffset:1000;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: white;
   transition: opacity 1s;
   position: fixed;
   z-index: 5;
   width: 100%;
   pointer-events: none;
   overflow: hidden;
}

div.circles {
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    width: 54px;
    top: 7px;
  left: 6px
}

div.circle1 {
   width: 6px;
   height: 6px;
   background-color: #F47B27;
   margin: 4px;
   border-style:solid;
   border-color: #F47B27;
   border-width: 2px;
   border-radius: 50%;
   
}

#logo
{
	width:50px;
	height:50px;
	margin-bottom: 25px;
  transform-origin :center;   
}
#logo path
{
   transform-origin :center;
   
}

#small
{
   width: 70px;
   height: 70px;
}

#svg
{
  overflow: visible;
}

.cid-s7CJva1tdF .navbar
{
  display: none;
}

#corcontrol{
    display: none;
}
#maincontainer
{
  transition: 2s;
  opacity: 0;
}


.saavu
{
  height: 100vh;
  overflow: hidden;
  /*display: none;*/

}

.saavu2
{
    height: 100vh;
  overflow: hidden;
}

/*projects*/
#projectcontainer
{
  top: 3%;
  position:absolute;
  width: 100%;
  height: auto;
  background-color: rgba(255,255,255,0.9);
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
 /* align-content: center; */
  z-index: 1;
  transition: 0.6s;
  opacity: 0;
}
#projectcontainerexpand
{
  position: fixed;
  background-color: rgba(255,255,255,0.5);
  opacity: 0;
  transform: scale(0);
  width: 100%;
  height: 100%;
  z-index: 3;
  transform-origin: center;
}
.projects
{
  position: relative;
  background-color: white;
  width: 184px;
  height: 267px;
  margin: 5%;
  border-width: 0px;
  border-radius: 5%;
  border-style: solid;
  background-color: white;
  transform-origin: center;
  transform: scale(0);
  opacity : 0;
  transition: 0.6s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  overflow:hidden;
}

.projectsexpand
{
  position: fixed;
  width: 80%;
  height: 85%;
  margin: 0px;
  border-width: 0px;
  border-radius: 5%;
  border-style: solid;
  background-color: rgba(255,255,255,1);
  transform-origin: left;
  transform: scale(0) translate(-100%,-100%);
  opacity : 0;
  transition: 0.6s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  overflow:hidden;
  z-index:3;
  top: 50%;
  left: 50%;
}
  @media only screen and (max-width: 1024px){
    .projectsexpand
    {flex-direction: column;}
    .projectsexpand .projectimageexpand
    {width: 100%;}
    .projectsexpand .projecttitleexpand
    {width: 100%;
      margin: 0px;}
  }

.projectimage
{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5%;
 /* border-color: white;
  border-style: solid;*/
  background-size: cover;
  transform-origin: center;
  transition: 0.2s;
  background-image:url("./background4.jpg");
}
.projectimageexpand
{
  position: relative;
  width: 40%;
  height: 100%;
  /*margin: 10px;*/
  border-radius: 5%;
 /* border-color: white;
  border-style: solid;*/
  background-size: cover;
  transform-origin: center;
  transition: 0.5s;
  background-image:url("./background4.jpg");
}
.projecttitle
{
  position: absolute;
  top: 83%;
  color: black;
  background-color: rgba(255,255,255,1);
  height: 100%;
  width: 100%;
  transition: 0.2s;
  font-weight: bold;
}
.projecttitleexpand
{
position: relative;
top: 0%;
color: black;
background-color: none;
height: 100%;
width: 60%;
display: flex;
margin: 20px;
justify-content: space-around;
font-family: calibri;
flex-direction: column;
flex-wrap: wrap;
}
.projectname
{
position: relative;
display: flex;
justify-content: left;
/*margin: 1rem;*/
}
.special
{
  position: relative;
  text-align: center;
  font-size: 30px;
/*  top: -40px;*/
  color: lightblue;
}
.heads
{
  position: relative;
  font-size: 18px;
  font-weight: 400;
  color :black;
  letter-spacing: 2px;
  /*padding-left: 30px;*/
}
.resources
{
  position: relative;
  font-size: 18px;
 /* padding-left: 10px;*/
  color:black;
}
.head
{
  position: absolute;
  width: 100%;
  height: 20%;
  color: rgba(255,69,0);
}
.contenttitle
{
  position: relative;
  font-weight:bold;
  font-size: 13px;
  text-align: left;
  left: 5px;
  top: 20px;
}
.contentsource 
{
  position: relative;
  font-weight:400;
  font-size: 13px;
  text-align: center;
  right: 5px;
  top: 20px;
  color: rgba(255,69,0);
}
.back
{
    position: fixed;
    right: 6px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.8);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.5s;
}
.back:hover
{
  transform: scale(1.2);
}
.backexpand
{
    position: fixed;
    top: 10px;
    right: 6px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.8);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.5s;
}
.backexpand:hover
{
  transform: scale(1.2);
}
#back
{
    position: absolute;
    overflow: visible;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
}

#backexpand
{
    position: absolute;
    overflow: visible;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
}
.projectstopics
{
  transition: 0.8s;
}
/*.projects:hover
{
  transform: scale(0.95);
  cursor: pointer;
}*/

.projectstopics:hover
{
  cursor: pointer;
  transform: scale(0.95);
}

.cid-s7CJva1tdF .navbar
{
  transition: 0.4s;
}